[package]
name = "fill-sign-pdf"
version = "0.1.0"
description = "Fill & Sign PDF - skeleton"
authors = ["you"]
license = ""
repository = ""
edition = "2021"
rust-version = "1.70"

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
tauri = { version = "2", features = [] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tauri-plugin-shell = "2"
tauri-plugin-dialog = "2"

[features]
custom-protocol = ["tauri/custom-protocol"]
